<div class="app" style="text-align: center;">
  <!-- <h1><span>{{ title }} app is running!</span></h1> -->
  <h1><span>{{ message }} app is running!</span></h1>
  <table>
    <tr>
      <td><span class="app-test"></span>
        <span class="app-componentinterection" (clildEvent)="message=$event" [perentData]="name"></span>
        <span class="app-pripes"></span>
        <span class="app-EmployeeDetails"></span> 
        <span class="app-dipattern"></span>
      </td>
      <td>
        <span class="app-structuredirective"></span>
        <span class="app-services"></span>        
        <span class="app-observables"></span> 
        <span class="app-twowaybinding"></span>
      </td>
    </tr>    
  </table>
  <nav>
    <a routerLink="/student"  >student</a>
    <a routerLink="/studentDetails">studentDetails</a>
    <a [routerLink]="['/worker']" routerLinkActive="router-link-active" > Workers</a>
  </nav>
</div>

<router-outlet class="routerOutlet"></router-outlet>